Source: faiss
Section: science
Homepage: https://github.com/facebookresearch/faiss
Priority: optional
Standards-Version: 4.7.0
Vcs-Git: https://github.com/navelrobotics/faiss.git
Vcs-Browser: https://github.com/navelrobotics/faiss
Maintainer: navel robotics GmbH <debmaint@navelrobotics.com>
Rules-Requires-Root: no
Build-Depends:
 cmake,
 debhelper-compat (= 13),
 libblas-dev,
 libgtest-dev,
 liblapack-dev,
Description: efficient similarity search and clustering of dense vectors
 Faiss is a library for efficient similarity search and clustering of dense
 vectors. It contains algorithms that search in sets of vectors of any size, up
 to ones that possibly do not fit in RAM. It also contains supporting code for
 evaluation and parameter tuning. Faiss is written in C++ with complete wrappers
 for Python/numpy. Some of the most useful algorithms are implemented on the
 GPU. It is developed by Facebook AI Research.

Package: libfaiss
Section: libs
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: ${source:Synopsis}
 ${source:Extended-Description}
 .
 This package contains the CPU-only version of the runtime library.

Package: libfaiss-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 libfaiss (= ${binary:Version}),
Description: ${source:Synopsis}
 ${source:Extended-Description}
 .
 This package contains the CPU-only version of the development files.
