#!/usr/bin/make -f

%:
	dh $@ -Scmake -Bbuild --with python3

override_dh_auto_configure:
	dh_auto_configure -- \
		-DFAISS_ENABLE_GPU=OFF \
		-DBUILD_TESTING=ON

execute_after_dh_auto_install:
	cd build/faiss/python; \
		python3 setup.py install --install-layout=deb \
		--root=$(shell pwd)/debian/python3-faiss/
